---
const { post, url } = Astro.props;

import { formatDate, slugify } from "../utils/formatter";

const {
  title,
  author,
  date,
  description,
  category,
  image: { src },
} = post.frontmatter;
---

<div class="flex space-y-2 p-4 rounded-md flex-col bg-white max-h-lg h-fit">
  <a href=`/category/${slugify(category)}`><h2>Reference docs</h2></a>
  <a href={url}>
    <img
      alt="Post image"
      src={src}
      class="object-cover w-full h-auto"
      width="60"
      height="60"
    />
  </a>
  <h2>{title}</h2>
  <div class="flex justify-between">
    <small>by {author} - {formatDate(date)}</small>
  </div>
  <p class="h-fit overflow-hidden line-clamp-3">{description}</p>
</div>
